.jumbotron {
	/* background-color: #F9F9F9; */
	 min-height: 515px;
	
}
table {
	display: block;
	min-height: 150px;
	height: 100%;
	/* background-color: #F9F9F9; */
}

th {
	width: 1%;
}

.desactivado {
	pointer-events: none;
	background-color: darkgray;
	cursor: not-allowed;
	color: black;
}

.navbar-brand {
	padding: 0px;
}
  hr.style18:before { 
	display: block; 
	content: ""; 
	height: 20px; 
	margin-top: -21px; 
	border-style: solid; 
	border-color: orange; 
	border-width: 0 0 .5px 0; 
	border-radius: 5px; 
  }