
<header class="text-white text-uppercase">
  <div class="row pt-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1 class="center" translate>
        {{ 'general.titulos.title_header'}}
      </h1>
    </div>
  <div class="rigth row me-2">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <span class="float-right mt-1 mr-2 mb-1">
        {{ 'Fecha:' }}
      </span>
      <span class="float-left mt-1 mr-2">
        {{ fecha }}
      </span>
    </div>
  </div>
</header>
