<app-loading [loading] ="loading"></app-loading>
<div class="jumbotron p-1 pl-5 pr-5 m-0">
        <h6 class="text-uppercase mt-2 " translate> {{ 'Json To Excel -_-' }} </h6>
        <hr>
        <app-alert-dos></app-alert-dos>
        <div class="row  justify-content-center">
          <br>
  <div class="row">
  <div class="input-group col-md-12 col-md-6 col-md-3">
      <div class="">
          <input #myInput type="file" class="custom-file-input form-control-sm" id="inputGroupFile01"  accept=".txt">
          <label class="custom-file-label" for="inputGroupFile01">Elegir un archivo</label>
      </div>
  </div>
</div>
<br>
<br>
<div class="ml-3 pb-2"></div>
  <div class="row justify-content-center col-md-12 col-md-6 col-md-3">
      <div class="form-group form-inline">
          <button class="btn btn-primary btn-sm" [disabled]="loading" >Cargar <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
          <button class="btn btn-primary btn-sm ml-2 mr-2" translate> {{ 'Limpiar' }} </button>
      </div>
  </div>
<br>
</div>
<div class="row">
    <div class="col-md-12 col-md-6 col-md-3 col-sm-3 col">
        <div id="table-responsive">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="text-truncate text-center border border-primary" translate> {{ 'Codigo Operación' }} </th>
                        <th class="text-truncate text-center border border-primary" translate> {{ 'Descripción' }} </th>
                        <th class="text-truncate text-center border border-primary" translate> {{ 'Folio' }} </th>
                        <th class="text-truncate text-center border border-primary" translate> {{ 'TokenCode' }} </th>
                        <th class="text-truncate text-center border border-primary" translate> {{ 'Acciones' }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  >
                        <!-- *ngFor="let result ; let i = index"
                        <td  class="text-truncate text-center border border-success">{{result.codigoOperacion}}</td>
                        <td class="text-truncate text-center border border-success">{{result.descripcion}}</td>
                        <td class="text-truncate text-center border border-success">{{result.folio}}</td>
                        <td class="text-truncate text-center border border-success">{{result.tokenCode}}</td> -->
                        <td  class="text-truncate text-center border border-success">
                             <!-- icono detalle -->
                             <a  class="pl-2" data-toggle="modal" data-target="#detalleModal" style="color: orange; cursor: pointer; font-size: 18px;">
                                <span class="fa fa-eye" data-toggle="tooltip" title="Detalle de sesion"></span>
                             </a>
                             <!--
                             <a  (click)="getMensajes()" (click)= "clearMessage()" class="pl-2" style="color: orange; cursor: pointer; font-size: 18px;">
                              <i class="fa fa-envelope-o" aria-hidden="true" data-toggle="tooltip" title="Mensaje del cliente"></i>

                           </a>
                           <a *ngIf="isCNCliente"  (click)="getDetalleCNClientes(result,i)" (click)= "clearMessage()" class="pl-2" data-toggle="modal" data-target="#detalleMensajesClienteModal" style="color: orange; cursor: pointer; font-size: 18px;">
                            <i class="fa fa-envelope-open-o" aria-hidden="true" data-toggle="tooltip" title="Abrir mensaje del cliente"></i>
                         </a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--
            <div class="row justify-content-center p-0 pb-3">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm justify-content-center">
                            <li class="page-item">
                                <a class="page-link" tabindex="-1" (click)="paginaAnterior()"
                                [ngClass]="{'desactivado': numeroPaginaActual ==0 ? true:false }">
                                    {{ 'Anterior' }}
                                </a>
                            </li>
                            <li>
                                <select class="page-link" (change)="establecerRegistrosMostrar($event)">
                                    <option *ngFor="let numRegistros of multiplosPaginador">
                                        {{ numRegistros }}
                                    </option>
                                </select>
                            </li>
                            <li class="page-item">
                                <a class="page-link" tabindex="-1" (click)="siguientePagina()"
                                [ngClass]="{'desactivado': numeroPaginaActual == numeroPaginas-1 || response.length<=0 ? true:false }">
                                    {{ 'Siguiente' }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>-->
        </div>
    </div>
</div>   