.txt_messege{
  font-family:Arial,Verdana,sans-serif;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
  display: block;

}
div[class^='col-']{
 border: .3px solid black;
}
.alert_div {
  position:absolute;
  z-index: 100;
  width: 60%;
  height: 6%;
  left: 20%;
  top: 22%;
}


